<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallhua.org.mapper.TFileInfoMapper">
  <resultMap id="BaseResultMap" type="com.smallhua.org.model.TFileInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="IDENTIFIER" jdbcType="VARCHAR" property="identifier" />
    <result column="TOTAL_SIZE" jdbcType="BIGINT" property="totalSize" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="CRE_ID" jdbcType="BIGINT" property="creId" />
    <result column="CRE_TIME" jdbcType="TIMESTAMP" property="creTime" />
    <result column="UPD_ID" jdbcType="BIGINT" property="updId" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, FILE_NAME, IDENTIFIER, TOTAL_SIZE, TYPE, LOCATION, CRE_ID, CRE_TIME, UPD_ID, 
    UPD_TIME
  </sql>
  <select id="selectByExample" parameterType="com.smallhua.org.model.TFileInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_file_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_file_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_file_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.smallhua.org.model.TFileInfoExample">
    delete from t_file_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smallhua.org.model.TFileInfo">
    insert into t_file_info (ID, FILE_NAME, IDENTIFIER, 
      TOTAL_SIZE, TYPE, LOCATION, 
      CRE_ID, CRE_TIME, UPD_ID, 
      UPD_TIME)
    values (#{id,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{identifier,jdbcType=VARCHAR}, 
      #{totalSize,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{creId,jdbcType=BIGINT}, #{creTime,jdbcType=TIMESTAMP}, #{updId,jdbcType=BIGINT}, 
      #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smallhua.org.model.TFileInfo">
    insert into t_file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="identifier != null">
        IDENTIFIER,
      </if>
      <if test="totalSize != null">
        TOTAL_SIZE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="location != null">
        LOCATION,
      </if>
      <if test="creId != null">
        CRE_ID,
      </if>
      <if test="creTime != null">
        CRE_TIME,
      </if>
      <if test="updId != null">
        UPD_ID,
      </if>
      <if test="updTime != null">
        UPD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="totalSize != null">
        #{totalSize,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="creId != null">
        #{creId,jdbcType=BIGINT},
      </if>
      <if test="creTime != null">
        #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null">
        #{updId,jdbcType=BIGINT},
      </if>
      <if test="updTime != null">
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smallhua.org.model.TFileInfoExample" resultType="java.lang.Long">
    select count(*) from t_file_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_file_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fileName != null">
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.identifier != null">
        IDENTIFIER = #{record.identifier,jdbcType=VARCHAR},
      </if>
      <if test="record.totalSize != null">
        TOTAL_SIZE = #{record.totalSize,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        LOCATION = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.creId != null">
        CRE_ID = #{record.creId,jdbcType=BIGINT},
      </if>
      <if test="record.creTime != null">
        CRE_TIME = #{record.creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updId != null">
        UPD_ID = #{record.updId,jdbcType=BIGINT},
      </if>
      <if test="record.updTime != null">
        UPD_TIME = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_file_info
    set ID = #{record.id,jdbcType=BIGINT},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      IDENTIFIER = #{record.identifier,jdbcType=VARCHAR},
      TOTAL_SIZE = #{record.totalSize,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=VARCHAR},
      LOCATION = #{record.location,jdbcType=VARCHAR},
      CRE_ID = #{record.creId,jdbcType=BIGINT},
      CRE_TIME = #{record.creTime,jdbcType=TIMESTAMP},
      UPD_ID = #{record.updId,jdbcType=BIGINT},
      UPD_TIME = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smallhua.org.model.TFileInfo">
    update t_file_info
    <set>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        IDENTIFIER = #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="totalSize != null">
        TOTAL_SIZE = #{totalSize,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="creId != null">
        CRE_ID = #{creId,jdbcType=BIGINT},
      </if>
      <if test="creTime != null">
        CRE_TIME = #{creTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updId != null">
        UPD_ID = #{updId,jdbcType=BIGINT},
      </if>
      <if test="updTime != null">
        UPD_TIME = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smallhua.org.model.TFileInfo">
    update t_file_info
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      IDENTIFIER = #{identifier,jdbcType=VARCHAR},
      TOTAL_SIZE = #{totalSize,jdbcType=BIGINT},
      TYPE = #{type,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      CRE_ID = #{creId,jdbcType=BIGINT},
      CRE_TIME = #{creTime,jdbcType=TIMESTAMP},
      UPD_ID = #{updId,jdbcType=BIGINT},
      UPD_TIME = #{updTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>