<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallhua.org.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.smallhua.org.vo.ArticleVo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="VIEW_NUM" jdbcType="INTEGER" property="viewNum" />
    <result column="LIKE_NUM" jdbcType="INTEGER" property="likeNum" />
    <result column="IF_TOP" jdbcType="INTEGER" property="ifTop" />
    <result column="CRE_ID" jdbcType="BIGINT" property="creId" />
    <result column="CRE_TIME" jdbcType="TIMESTAMP" property="creTime" />
    <result column="UPD_ID" jdbcType="BIGINT" property="updId" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <!--<collection property="types" ofType="string">
      <result property="types" column="types"></result>
    </collection>
    <collection property="labels" ofType="string">
      <result property="labels" column="labels"></result>
    </collection>-->
    <collection property="types" column="{articleId=ID}" select="selectTypesByAId">
    </collection>
    <collection property="labels" column="{articleId=ID}" select="selectLabelsByAId">
    </collection>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.smallhua.org.vo.ArticleVo">
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    t_article.ID, t_article.TITLE, t_article.VIEW_NUM, t_article.LIKE_NUM, t_article.IF_TOP,
    t_article.CRE_ID, t_article.CRE_TIME, t_article.UPD_ID, t_article.UPD_TIME
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.smallhua.org.model.TArticleExample" resultMap="ResultMapWithBLOBs">
    SELECT
    DISTINCT ID,
    TITLE,
    VIEW_NUM,
    LIKE_NUM,
    IF_TOP,
    CRE_ID,
    CRE_TIME,
    CONTENT
    FROM
    (
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    ,label.LABEL AS labels,
    type.LABEL AS types,
    type.ID AS typeId,
    label.ID AS labelId
    FROM
    t_article
    LEFT JOIN t_article_label AS al ON t_article.ID = al.ARTICLE_ID
    LEFT JOIN t_label AS label ON al.LABEL_ID = label.ID
    LEFT JOIN t_type AS type ON label.TYPE_ID = type.ID

    UNION

    SELECT
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    ,
    al.VALUE AS labels,
    '其他' AS types,
    0 AS typeId,
    0 AS labelId
    FROM
    t_article
    JOIN t_article_label AS al ON t_article.ID = al.ARTICLE_ID
    AND al.IF_HAND = 1
    ) article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.smallhua.org.model.TArticleExample" resultMap="BaseResultMap">
    SELECT
    DISTINCT ID,
    TITLE,
    VIEW_NUM,
    LIKE_NUM,
    IF_TOP,
    CRE_ID,
    CRE_TIME
    FROM
    (
    SELECT
    <include refid="Base_Column_List" />
    ,label.LABEL AS labels,
    type.LABEL AS types,
    type.ID AS typeId,
    label.ID AS labelId
    FROM
    t_article
    LEFT JOIN t_article_label AS al ON t_article.ID = al.ARTICLE_ID
    LEFT JOIN t_label AS label ON al.LABEL_ID = label.ID
    LEFT JOIN t_type AS type ON label.TYPE_ID = type.ID

    UNION

    SELECT
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    al.VALUE AS labels,
    '其他' AS types,
    0 AS typeId,
    0 AS labelId
    FROM
    t_article
    JOIN t_article_label AS al ON t_article.ID = al.ARTICLE_ID
    AND al.IF_HAND = 1
    ) article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectTypesByAId" resultType="string">
    SELECT LABEL FROM
    (SELECT
    al.ARTICLE_ID,
    type.LABEL,
    type.SEQUENCE AS TS,
    label.SEQUENCE AS LS
    FROM
    t_label AS label
    INNER JOIN t_article_label AS al ON al.LABEL_ID = label.ID
    INNER JOIN t_type AS type ON label.TYPE_ID = type.ID
    UNION
    SELECT
    t_article_label.ARTICLE_ID,
    '其他' AS LABEL,
    -1 AS TS,
    -1 AS LS
     FROM  t_article_label  WHERE t_article_label.ARTICLE_ID = #{articleId} AND IF_HAND = 1
    ) A
    WHERE
    ARTICLE_ID = #{articleId}
    ORDER BY
    TS,
    LS
  </select>
  <select id="selectLabelsByAId" resultType="string">
    SELECT LABEL FROM
    (SELECT
    al.ARTICLE_ID,
    label.LABEL,
    type.SEQUENCE AS TS,
    label.SEQUENCE AS LS
    FROM
    t_label AS label
    INNER JOIN t_article_label AS al ON al.LABEL_ID = label.ID
    INNER JOIN t_type AS type ON label.TYPE_ID = type.ID
    UNION
    SELECT
    t_article_label.ARTICLE_ID,
    t_article_label.VALUE AS LABEL,
    -1 AS TS,
    -1 AS LS
     FROM  t_article_label  WHERE t_article_label.ARTICLE_ID = #{articleId} AND IF_HAND = 1
    ) A
    WHERE
    ARTICLE_ID = #{articleId}
    ORDER BY
    TS,
    LS
  </select>
</mapper>