<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallhua.org.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.smallhua.org.dto.UserRole">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="ACCOUNT" jdbcType="VARCHAR" property="account"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="USER_TYPE" jdbcType="TINYINT" property="userType"/>
        <result column="STATUS" jdbcType="TINYINT" property="status"/>
        <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail"/>
        <result column="USER_PROFILE_PHOTO" jdbcType="VARCHAR" property="userProfilePhoto"/>
        <result column="USER_PHONE" jdbcType="INTEGER" property="userPhone"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="lOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="RMK" jdbcType="VARCHAR" property="rmk"/>
        <collection property="roles" column="{userId=id}" select="com.smallhua.org.dao.UserDao.quertRoleByUserId">
        </collection>
    </resultMap>

    <resultMap id="RoleResultMap" type="com.smallhua.org.dto.RolePermission">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
        <result column="STATUS" jdbcType="TINYINT" property="status" />
        <result column="SORT" jdbcType="INTEGER" property="sort" />
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />

        <collection property="permissionList" select="queryPermessionByRoleId" column="{roleId=ID}">
        </collection>
    </resultMap>

    <resultMap id="PermissonResultMap" type="com.smallhua.org.model.TPermission">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="PID" jdbcType="BIGINT" property="pid" />
        <result column="ICON" jdbcType="VARCHAR" property="icon" />
        <result column="TYPE" jdbcType="TINYINT" property="type" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="URL" jdbcType="VARCHAR" property="url" />
        <result column="SORT" jdbcType="INTEGER" property="sort" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="FULLPATH" jdbcType="VARCHAR" property="fullpath" />
        <result column="STATUS" jdbcType="TINYINT" property="status" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
    `user`.ID, `user`.USER_NAME, `user`.ACCOUNT, `user`.`PASSWORD`,
     `user`.USER_TYPE, `user`.`STATUS`, `user`.USER_EMAIL,
     `user`.USER_PROFILE_PHOTO, `user`.USER_PHONE, `user`.CREATE_TIME,
     `user`.lOGIN_TIME, `user`.RMK
    </sql>


    <select id="selectUserInfoByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user AS `user`
        where
        `user`.ID = #{userId, jdbcType=BIGINT} AND
        `user`.STATUS = 1
        ORDER BY `user`.CREATE_TIME DESC
    </select>

    <select id="quertRoleByUserId" resultMap="RoleResultMap">
        SELECT
        R.ID,
        R.ROLE_NAME,
        R.`STATUS`,
        R.SORT,
        R.DESCRIPTION,
        R.CREATE_TIME,
        R.ROLE_CODE
        FROM
        t_role AS R
        INNER JOIN t_user_role AS UR ON R.ID = UR.ROLE_ID AND R.`STATUS` = 1
        INNER JOIN t_user AS U ON UR.USER_ID = U.ID AND U.`STATUS` = 1
        where U.ID = #{userId, jdbcType=BIGINT}
    </select>

    <select id="queryPermessionByRoleId" resultMap="PermissonResultMap">
        SELECT
        P.ID,
        P.PID,
        P.ICON,
        P.TYPE,
        P.`NAME`,
        P.URL,
        P.SORT,
        P.`VALUE`,
        P.FULLPATH,
        P.`STATUS`,
        P.CREATE_TIME
        FROM
        t_permission AS P
        INNER JOIN t_role_permission AS RP ON P.ID = RP.PERMISSION_ID AND P.`STATUS` = 1
        INNER JOIN t_role AS R ON R.ID = RP.ROLE_ID AND R.`STATUS` = 1
        where R.ID = #{roleId}
        ORDER BY
        P.SORT ASC
    </select>

</mapper>